@using ITGWebTimeSheet2.Models
@model IEnumerable<ITGWebTimeSheet2.Models.SubTask>


@foreach (var subitem in Model)
{
    if (subitem.finish.ToString() == "1")
    {

<li id="li_@subitem.subid" class="list-group-item list-group-item-primary active linetext">
    <input id="lin_@subitem.subid" type="checkbox" class="hidden" style="margin-left:-20px;margin-right:10px;" checked="checked" />@Html.DisplayFor(modelItem => subitem.info)&nbsp;&nbsp;<a style="margin-left:3px" id="edit_subtask_@Html.DisplayFor(modelItem => subitem.subid)" href="#" class="edittasklist"><i class="fa fa-pencil"></i></a>&nbsp;<a style="margin-left:3px" id="delete_subtask_@Html.DisplayFor(modelItem => subitem.subid)" href="#" class="deletetasklist"><i class="fas fa-trash"></i></a>
        <span class="state-icon glyphicon glyphicon-check "></span>
</li>
    }
    else
    {
<li id="li_@subitem.subid" class="list-group-item">
    <input id="lin_@subitem.subid" type="checkbox" class="hidden" style="margin-left:-20px;margin-right:10px;" />@Html.DisplayFor(modelItem => subitem.info)&nbsp;&nbsp;<a style="margin-left:3px" id="edit_subtask_@Html.DisplayFor(modelItem => subitem.subid)" href="#" class="edittasklist"><i class="fa fa-pencil"></i></a>&nbsp;<a style="margin-left:3px" id="delete_subtask_@Html.DisplayFor(modelItem => subitem.subid)" href="#" class="deletetasklist"><i class="fas fa-trash"></i></a>
    <span class="state-icon glyphicon glyphicon-unchecked"></span>
</li>
    }
}